.bg-shadow {
    backdrop-filter: blur(0px) saturate(62%);
    -webkit-backdrop-filter: blur(0px) saturate(62%);
    background-color: rgba(22, 40, 58, 1) !important;
   

    color: #b5bcc5 !important;
    /* border: 1px solid rgba(255, 255, 255, 0.125); */
}


 input[type="date"] {
 color:  #b5bcc5 !important;
    font-size: 14px;
  }

  /* Customize the date input arrow icon */
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(2); 
  
  }


  .button-bg{
backdrop-filter: blur(12px) saturate(200%);
    -webkit-backdrop-filter: blur(12px) saturate(200%);
    background-color: rgba(7, 29, 56, 1) !important;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color:  white !important;
}
  

.c-hover:hover{
backdrop-filter: blur(12px) saturate(200%);
    -webkit-backdrop-filter: blur(12px) saturate(200%);
    background-color: rgba(7, 29, 56, 1) !important;
 
    color:  white !important;
}